.navbar {
  background-color: #26be9f;

  transition: 1s;
}

.navbar-text {
  color: white;
  font-family: "Inter";
  font-size: 16px;
  font-weight: bold;
}

.nav-btn {
  background-color: #26be9f;
  color: white;
  font-family: "Inter";
  font-size: 16px;
  border: none;
  border-radius: 0px;
}

.navbar-text:hover {
  color: white;
}

.hero-img {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/bg.jpg");
}
