.navbar {
  background-color: #26be9f;

  transition: 1s;
}

.navbar-text {
  color: white;
  font-family: "Inter";
  font-size: 16px;
  font-weight: bold;
}

.nav-btn {
    background-color: #10C98F;
    color: white;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    border: none;
    border-radius: 0px;
    height: auto;
    width: 170px;
    min-height: 50px;
}

.navbar-text:hover {
  color: white;
}

.hero-img {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/bg.jpg");
}
